<div>
  <h1>{{ editing ? 'Editar factura' : 'Crear factura' }}</h1>
  <form class="form-horizontal" id="addForm">
    <!-- 
      * Nro de factura
      * Fecha de emisión
      * Fecha de vencimiento
      * Condición de pago
      * Cliente
        * Nombre
        * Apellido
        * Cuit
        * Región
      * Items
        * Producto
        * Cantidad
        * Valor
     -->
    <div class="form-group">
      <label for="nroFactura" class="col-sm-2 control-label">Nro Factura</label>
      <div class="col-sm-10">
        <input type="number" required class="form-control" id="nroFactura" ng-model="factura.nroFactura">
      </div>
    </div>
    <div class="form-group">
      <label for="fechaDeEmision" class="col-sm-2 control-label">Fecha de emisión</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="fechaDeEmision" ng-model="factura.fechaEmision">
      </div>
    </div>
    <div class="form-group">
      <label for="fechaDeVencimiento" class="col-sm-2 control-label">Fecha de vencimiento</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="fechaDeVencimiento" ng-model="factura.fechaVencimiento">
      </div>
    </div>
    <div class="form-group">
      <label for="condicionDePago" class="col-sm-2 control-label">Condición de pago</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="condicionDePago" ng-model="factura.condPago">
      </div>
    </div>
    <!-- <div class="form-group">
      <label for="cliente" class="col-sm-2 control-label">Cliente</label>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-10">
            <input type="text" class="form-control pull-left" id="cliente" ng-model="factura.cliente.apellido">
          </div>
          <div class="col-sm-2">
            <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
            <button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Cliente</label>
      <div class="col-sm-10">
        <div class="form-group row" style="padding-right: 15px">
          <label for="nombre" class="col-sm-1 control-label">Nombre</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="nombre" ng-model="factura.cliente.nombre">
          </div>
          <label for="apellido" class="col-sm-1 control-label">Apellido</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="apellido" ng-model="factura.cliente.apellido">
          </div>
          <label for="region" class="col-sm-1 control-label">Region</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="region" ng-model="factura.cliente.region">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Items</label>
      <div class="col-sm-10 well">
        <div class="form-group row" style="padding-right: 15px" ng-repeat="item in factura.item">
          <label for="producto" class="col-sm-1 control-label">Producto</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="producto" ng-model="item.producto">
          </div>
          <label for="cantidad" class="col-sm-1 control-label">Cantidad</label>
          <div class="col-sm-3">
            <input type="number" class="form-control" id="cantidad" ng-model="item.cantidad">
          </div>
          <label for="precio" class="col-sm-1 control-label">Precio</label>
          <div class="col-sm-3 input-group">
            <div class="input-group-addon">$</div>
            <input type="number" class="form-control" id="precio" ng-model="item.precio">
          </div>
        </div>
        <a href="javascript:void(0);" class="btn btn-default">Add item</a>      
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" ng-click="save()">{{ editing ? 'Edit' : 'Create' }}</button>
      </div>
    </div>
  </form>
  
</div>