<div>
  <div class="row">
    <h1>
      Facturas
      <a href="#/factura" class="btn btn-success pull-right">
        <span class="glyphicon glyphicon-plus"></span>  Add
      </a>
    </h1>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6 col-md-3" ng-repeat="factura in facturas">
      <div class="thumbnail">
        <div class="caption">
          <h3>Nro {{factura.nroFactura}}</h3>
          <h4>{{factura.cliente.nombre + ' ' + factura.cliente.apellido}}</h4>
          <p>Fecha de emisión: {{formatDate(factura.fechaEmision)}}</p>
          <p>Fecha de vencimiento: {{formatDate(factura.fechaVencimiento)}}</p>
          <p>Condición de pago: {{factura.condPago}}</p>
          <p ng-show="factura.item.length">
            <label>Items:</label>
            <ul>
              <li ng-repeat="item in factura.item">{{item.producto}}, {{item.cantidad}}, ${{item.precio}}</li>
            </ul>
          </p>
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <a href="#/factura/{{factura.nroFactura}}" class="btn btn-primary" role="button">
              <span class="glyphicon glyphicon-pencil"></span> Edit
            </a>
            <a href="javascript:void(0);" class="btn btn-danger" role="button" ng-click="delete(factura)">
              <span class="glyphicon glyphicon-trash"></span>  Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>